
.item-piles-bankers-button:disabled {
  cursor: not-allowed;
}

.item-piles-bankers-no-items-text {
  flex: 1 0 auto;
  text-align: center;
}

.item-piles-bankers-item-container-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 235px;
  max-height: 235px;
  overflow-y: scroll;

  > * {
    flex: 1;
  }
}
